body {
    display: flex;
    background-color: #b0eeff;
    color: white;
    font-family: "DejaVu Sans Mono", monospace;
    flex-direction: column;

    align-items: center;
}

#stats {
    display: flex;
    flex-direction: column;
    background-color: #008ab8;
    border-radius: 5px;
    width: 20%;
    margin: auto;
    height: 15vh;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#stats > span {
    margin: 3px;
}

#game {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    background-color: #a3d7e6;
    border-radius: 10px;
    padding: 25px;
    margin-top: 10px;
}

@keyframes gurt-anim {
    0% {
        transform: rotate(-7deg);
    }
    50% {
        transform: rotate(7deg);
    }
    100% {
        transform: rotate(-7deg);
    }
}

#gurt {
    animation-name: gurt-anim;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    transition: all .2s ease-in-out;
}

#store {
    display: flex;
    background-color: #002b87;
    overflow-x: scroll;
    flex-grow: 1;
    margin: 10px;
    margin-left: 40px;
    border-radius: 10px;
    flex-direction: row;
    align-items: center;
}

.store-item {
    transition: all .2s ease-in-out;
    display: flex;
    margin: 5px;
    border-radius: 5px;
    background-color: #000759;
    flex-direction: column;
    align-items: center;
    height: 90%;
}

.store-item > h2 {
    font-size: 20pt;
}

.store-item:hover {
    background-color: #002063;
}


.store-item:active {
    background-color: #0043d4;
}

#buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
    justify-content: center;
}

.button {
    width: 10%;
    margin: 20px;
    border: none;
    height: 30px;
    border-radius: 30px;
    color: white;
    background-color: #0043d4;
    font-weight: bold;
    transition: all .2s ease-in-out
}

.button:hover {
    background-color: #004aeb;
}


.button:active {
    background-color: #4781ff;
}

footer {
    color: #000833;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer > * {
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}